// Custom Purple colors for theme
$purple-base: #6600FF;
$purple-deep: #5300CF;
$purple-hover: #7127DF;
$purple-professional: #8B68EE;

// Custom Gray colors for theme
$gray: #979797;

// Custom Blue colors for theme
$blue: #3B86FF;

// Custom Red colors for theme
$red: #EE3541;

// Buttons
$button-primary-bg: #fff;
$button-primary-border-radius: 4px;
$button-primary-width: 120px;
$button-primary-height: 35px;
$button-primary-border: none;

// Feature Boxes
$feature-box-width: 386px;
$feature-box-height: 295px;
$feature-box-shadow: 0px 2px 6px #00000A;
