<nav class="navbar topnavbar" role="navigation">
  <div class="navbar-header flex flex-grow">
    <div class="flex navbar-start">
      <div class="brand-logo">
        <span>Business Instruments</span>
      </div>
    </div>
    <div class="flex navbar-actions">
      <ul class="navbar-menu">
        <li class="navbar-menu-item">
          <a routerLink="package-one" routerLinkActive="is-active">
            ONE
          </a>
        </li>
        <li class="navbar-menu-item">
          <a routerLink="package-two" routerLinkActive="is-active">TWO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
